<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="doctor-page">
         <div class="doctor-prof">
            <div class="doc-img"><img src="c1.jpg" alt=""></div>
            <div class="doc-desc">
                <h2 class="doc-name">Dr. Ram Patel</h2>
                <p class="doc-qualification">Qualification: <span class="about-doc">MBBS</span> </p>
                <p class="doc-exp">Experience: <span class="about-doc">12 Years</span> </p>
                <p class="doc-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, aspernatur! Eius quisquam totam ratione. Modi vitae cupiditate eos ratione saepe.</p>
                <p class="doc-reting">Rating: <span class="about-doc">4.5</span></p>
            </div>
            <div class="doc-btn"> View Details</div>
         </div>
    </div>
</body>
</html>