<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ------------------------------------ Customr css ------------------------------------ -->
    <link rel="stylesheet" href="style.css">

    <!-- ------------------------------------ Font-awesome css ------------------------------------ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="footer">
        <div class="location-details">
            <div class="details-bloks dblok1">
                <div class="dlogo"></div>
                <span>Call Today +123 456 7890</span>
            </div>
            <div class="details-bloks dblok2">
                <div class="dlogo"></div>
                <span>Shop no. 23, Saradar Patel Complex, Bapunagar, Ahmedabad, Gujarat, India</span>
            </div>
            <div class="details-bloks dblok3">
                <span>Schedule a Virtual Appointment</span>
                <div class="btn">Schedule Now</div>
            </div>
        </div>
        <div class="links-details"></div>
    </div>
</body>
</html>