<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="index">
        <div class="header">
            <!-- <div class="round"></div> -->
            <div class="deshbord">
                <div class="dash-desc">
                    <div class="head-lines">
                        <h1>Best Health & cure service <br> You can Trust.</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, nam a iure, nihil ad
                            similique exercitationem magni rem sit voluptatum modi? Placeat voluptatibus autem quo iusto
                            fugiat harum, et deserunt.</p>
                        <div class="btn">Book an Appointment</div>
                    </div>
                </div>
                <div class="dash-img">
                    <img src="OQ6UTW0.jpg" alt="">
                </div>
            </div>
        </div>
        <section>
            <div class="aboutus">
                <div class="about-img">
                    <img src="OQ6UTW0.jpg" alt="">
                </div>
                <div class="about-desc">
                    <div class="desc">
                        <h3>About Us</h3>
                        <h1>Certified Doctors Committed to Excellence</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi modi at fugit, rem ut
                            consectetur? Eveniet reiciendis inventore animi beatae aliquam vitae voluptates, molestias
                            rerum officia possimus</p>
                        <div class="btn">Read More</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="services">
            <h3>Our Services</h3>
            <h1>All Your Health Needs at One Place</h1>
            <div class="service-bloks">
                <div class="bloks">
                    <div class="blok1">
                        <div class="blok-img-desc">
                            <div class="blok-img">
                                <img src="OQ6UTW0.jpg" alt="">
                            </div>
                            <div class="blok-heading">
                                Cosmetic Dentist
                            </div>
                            <div class="blok-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima ea inventore
                                et magni ad.
                            </div>
                        </div>
                    </div>
                    <div class="blok2">
                        <div class="blok-img-desc">
                            <div class="blok-img">
                                <img src="OQ6UTW0.jpg" alt="">
                            </div>
                            <div class="blok-heading">
                                Cosmetic Dentist
                            </div>
                            <div class="blok-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a reiciendis inventore
                                dignissimos soluta rem?
                            </div>
                        </div>
                    </div>
                    <div class="blok3">
                        <div class="blok-img-desc">
                            <div class="blok-img">
                                <img src="OQ6UTW0.jpg" alt="">
                            </div>
                            <div class="blok-heading">
                                Cosmetic Dentist
                            </div>
                            <div class="blok-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a reiciendis inventore
                                dignissimos soluta rem?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn">View All Services</div>
            <div class="book-your-slot">
                <div class="book-sloat">
                    <div class="book-desc">
                        <h1>Book an Appointment & You're Done!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dicta fugiat voluptates
                            aspernatur praesentium corrupti?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nulla dolorum </p>
                        <div class="btn">Reserve My Slot!</div>
                    </div>
                    <div class="book-img">
                        <img src="OQ6UTW0.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="client-says">
            <h1>What Our Clients Say</h1>
            <div class="client-says-blok">
                <div class="client_blok1 cbloks">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quaerat eos ea fugiat veritatis
                        exercitationem id ipsam quo! Assumenda, voluptates!</p>
                    <div class="client-desc">
                        <div class="client-img"><img src="OQ6UTW0.jpg" alt=""></div>
                        <span>Grace Hill</span>
                    </div>
                </div>
                <div class="client_blok2 cbloks">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni explicabo necessitatibus
                        vitae cum molestias inventore quod aperiam corrupti! Suscipit?</p>
                    <div class="client-desc">
                        <div class="client-img"><img src="OQ6UTW0.jpg" alt=""></div>
                        <span>Jamie Carter</span>
                    </div>
                </div>
                <div class="client_blok3 cbloks">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vitae distinctio voluptate
                        repudiandae dolore aliquam corporis temporibus laborum molestiae.</p>
                    <div class="client-desc">
                        <div class="client-img"><img src="OQ6UTW0.jpg" alt=""></div>
                        <span>Robert Ownes</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="treat-fun-blok">
            <h1>We Make Treatements Fun!</h1>
            <div class="treat-blok">
                <div class="treat-img"><img src="OQ6UTW0.jpg" alt=""></div>
                <div class="treat-desc">
                    <h1>Meet Dr. Ram Patel</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis praesentium qui vitae tenetur dignissimos?</p>
                    <p>15+ Uears Experience</p>
                    <p>Highly Equipped Clinic</p>
                    <p>Good quality car & services</p>
                    <div class="btn">book an Appointment</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>