<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="loginform">
        <div class="right">
            <img src="OQ6UTW0.jpg" alt="">
        </div>
        <div class="left">
            <form action="">
                <h1>Login</h1>
                <div class="uname">
                    <input type="text" name="username" id="" placeholder="Username">
                </div>
                <div class="pass">
                    <input type="password" name="password" id="" placeholder="password">
                </div>
                <div class="rem">
                    <p> <input type="checkbox" name="remember" id="" checked> <span>Remember me</span></p>
                </div>
                <div class="sub">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>