<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="signupform">
        <div class="right">
            <img src="OQ6UTW0.jpg" alt="">
        </div>
        <div class="left">
            <form action="">
                <h1>Signup</h1>
                <div class="name">
                    <div class="fname">
                        <input type="text" name="firstname" id="" placeholder="Firstname">
                    </div>
                    <div class="lname">
                        <input type="text" name="lastname" id="" placeholder="Lastname">
                    </div>
                </div>
                <div class="cred">
                    <div class="mail">
                        <input type="email" name="mail" id="" placeholder="Email">
                    </div>
                    <div class="pass">
                        <input type="password" name="password" id="" placeholder="Password">
                    </div>
                </div>
                <div class="gdr">
                    <label for="">Gender: </label>
                    <div class="m">
                        <input type="radio" name="Gender" id="" value="male"> <span>Male</span>
                    </div>
                    <div class="f">
                        <input type="radio" name="Gender" id="" value="female"> <span>Female</span>
                    </div>
                </div>
                <div class="tandc">
                    <input type="checkbox" name="" id="" checked> <span>Terms & Conditions</span>
                </div>
                <div class="sub">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>